# PostgreSQL
POSTGRES_USER=expfile_user
POSTGRES_PASSWORD=expfile_password
POSTGRES_DB=expfile_sync
POSTGRES_PORT=5434

# App
APP_PORT=8010
APP_RELOAD=./app
APP_RELOAD_MODE=ro
DATABASE_ECHO=false

# Keitaro Admin API
KEITARO_API_URL=https://your-keitaro-domain.com
KEITARO_API_KEY=your-api-key-here
KEITARO_TIMEOUT=120
